		*{
			margin: 0px;
			padding:0px;
			box-sizing: border-box;
		}
		
		body {
		  background-color:black;
			min-height:100%;
			width:100%;
		}
		
		
		.container{
			position: absolute;
			left:0;
			margin-top:83px;
			
			height:190%;
			width:100%;
			
			background-size: cover;
		background-image: url(../img/wd.jpg);
		
	}
	
	
	
	.topnav{
		color: black;
		top:15%;
	}
	
	
							.topnavlist{
								list-style-type: none;
								float : right;
								margin-top: 12px;
								margin-right: 30px;
								
								
							}
							
							.topnavlist li{
								
								display: inline-block;
								font-weight: 20px;
								
							}
							
							.topnavlist li a{
								
								text-decoration: none;
								color: white;
								padding: 8px 20px;
								border : 0.5px solid white ;
								transition: 0.2s ease;
								border: 2px solid white;
								
								border-radius: 15px;
								
							}
							
							.topnavlist li a:hover{
								background-color: #A233F4 ;
								color: white;
							}
							
							
							

							.topnavlist li.active a{
								background-color: lightblue;
								color: black;
							}
							
							
	.mainLogo img{
		float: left;
		width: 120px;
		height:auto;
		top:0;
		margin-left: 25px;
	}
	
	.signUpBtn{
		text-decoration: none;
		color:black;
	}									


	
	
	
		
	.avatar {
	  vertical-align: middle;
	  width: 60px;
	  height: 60px;
	  border-radius: 50%;
	  
	  
	}
		
		

.foot{
	position: absolute;
	right:0;
  bottom: 0;
  left: 0;
  padding: 20px;
  background-color:black;
 
}



.foot a{
	
	text-decoration: none;
	color: white;
	font-style: italic;
	
}


.feedback h1{
	
	
	color:red;
}


.copyright{
	margin-right:0;
	color:white;
}



.frame{
	width: 100%;
}

.feedback{
	
	width: 40%;
	border: 1px solid white;
	padding: 40px;
	background : rgba(0,0,0,0.8);
	
	border-radius: 20px;
	font-weight:bold;
	
	
	margin:auto;
  
}

h1{
	
	color: white;
	text-align: center;
	
}	



label{
	color: white;
	
	
}


.social{
	
	
	display:inline-block;
	float:right;
	height:
}

.social img{

	 
	 width:30px;
	 height:30px;
	 
 }


input[type=text]{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

button{
	
	border-radius: 25px;
	padding: 10px 15px;
	background: #60ADDE;
	border: 1px solid white;
	font-weight: bold;
	float:right;
	
	
}

.next a{
	
	text-decoration:none;
	color: black;
	
	
}

.next{
	
	
	float:left;
	
	border-radius: 5px;
	padding: 10px 15px;
	background: #60ADDE;
	border: 1px solid white;
	font-weight: bold;

}


button:hover{
	
	background-color: #A233F4 ;
	color: white;
	
}












/*media queries*/

@media only screen and (max-width:600px){
	
	/*Mobile*/
	
	.frame{
		
		width:100%;
	}
	
	
	
	.feedback{
		
		width:100%;
	}
	
	.container{
		
		height:140%;
		
	}
	
}

@media only screen and (min-width:768px){
	
	
	/*Desktop*/
	
	
}



	











